# Prerequisites
*.d

# Object files
*.o
*.elf

# Linker output
*.map

# Executables
*.hex

# Arduino IDE 2.3.8 build folder
build/

# Arduino CLI
cmake-build-*/

# OS files
.DS_Store
Thumbs.db

# IDE folders
.vscode/
.idea/
